---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout
  title="Portafolio de Andres Araque - Desarrollador y Programador Web y Software"
  description="Soy Andres Araque, desarrollador web especializado en soluciones personalizadas y aplicaciones web dinámicas. ¿Buscas un profesional autodidacta y comprometido? ¡Hablemos sobre cómo puedo llevar tu proyecto al siguiente nivel!"
>
  <main class="px-4"></main>
</Layout>
